<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>

    <add key="AccuWeatherURL1" value="https://dataservice.accuweather.com/locations/v1/cities/geoposition/search?apikey={0}&amp;q={1}%2C{2}" />
    <add key="AccuWeatherURL2" value="https://dataservice.accuweather.com/forecasts/v1/daily/1day/{0}?apikey={1}" />
    <add key="LocationsPathLocal" value="C:\Users\demon\source\repos\AccuWeatherServiceFetcher\AccuWeatherServiceFetcher\Locfile\Locations.csv" />
    <add key="LocationPathAzure" value="D:\home\site\wwwroot\App_Data\Locations.csv" />

  </appSettings>




  <runtime>




    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">




      <dependentAssembly>




        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />




      </dependentAssembly>




      <dependentAssembly>




        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />




        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />




      </dependentAssembly>




    </assemblyBinding>




  </runtime>
</configuration>